# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.env

# Virtual environment
venv/
env/
ENV/
.venv/

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and temp files
*.log
*.tmp
*.bak
*.swp
*.json


# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS system files
.DS_Store

# Windows thumbnail cache
Thumbs.db
